# OS
.DS_Store

# Node
**/node_modules/

# Next.js
action/ghostgallery-frontend/.next/
action/ghostgallery-frontend/.vercel/

# Hardhat build artifacts
action/ghostgallery-hardhat/artifacts/
action/ghostgallery-hardhat/cache/
action/ghostgallery-hardhat/coverage/
action/ghostgallery-hardhat/coverage.json

# Env secrets
action/ghostgallery-hardhat/.env


